/**/
body{
  background-image: url('fundo.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

h1{
  margin-top: 3%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

h2{
  font-size: 20px;
  text-align: center;
}

#titulo-fundo{
  height: 100%;
  background-color: rgb(230, 87, 175);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  border-radius: 0px 0px 10px 10px;
}

#barra{
  height: 45px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}

input[type=number] { 
   -moz-appearance: textfield;
   margin: 0; 
}

#btnSexo{
  background-color: white;
  border: none;
  border-radius: 50%;
}

#btnSexo2{
  background-color: white;
  border: none;
  border-radius: 50%;
}

#mulher{
  opacity: 1;
}

#homem{
  opacity: 1;
}

IMG{
   height: 140px;
   margin-top:10px;
   margin-bottom: 10px;
}

#calcular{
  color: black;
  background-color: rgb(122, 209, 243);
  margin-top: 6%;
  border-radius: 15px;
  width: 30%;
}

b{
  margin-left: 35%;
  font-size: 18px;
}

#atividade{
  font-weight: bold;
}

#displayResultado{
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 5px;
}

p{
  font-weight: bold;
}

#resultado{
  font-size: 16px;
  margin-left: -5%;
}

#divInformacao{
  height: 100%;
  background-color: white;
}

#txtInfo{
  margin-top: 3%;
}

#btnInfo{
  margin-top: 5%;
}