/**/
body{
}

.h1{
}

#titulo-fundo{
  background-color: pink;
}

.circle{
    border-radius:100%;
    width:100px;
    height:100px;
    background-color:purple;
    position: fixed;
}

.circle2{
    border-radius:100%;
    width:100px;
    height:100px;
    background-color:purple;
    position: fixed;
}

.circle3{
    border-radius:100%;
    width:100px;
    height:100px;
    background-color:purple;
    position: fixed;
}